<h1>Discover Events</h1>
<div class="tags-filter">
  @for (tag of availableTags; track tag.id){
  <label class="tag-checkbox" [class.selected]="isTagSelected(tag)">
    <input type="checkbox" (change)="toggleFilterTag(tag)" />
    {{ tag.name }}
  </label>
  }
</div>
@if (events$ | async; as events) {
<div class="events">
  @for (event of events; track event.id) {
  <div class="event-card">
    <h2 class="title">
      <a [routerLink]="['/events', event.id]">{{ event.title }}</a>
    </h2>
    <p>
      {{ event.description }}
    </p>
    <div class="event-info">
      <span>{{ event.date | date : 'dd/MM/yyyy HH:mm' }}</span>
      <span>{{ event.location }}</span>
      @if (event.participantsCount === event.capacity) {
      <span>Full</span>
      } @else {
      <span>
        {{ event.participantsCount }} @if (event.capacity){ /{{ event.capacity }}} participants
      </span>
      }
    </div>
    @if (event.tags?.length) {
    <div class="event-tags">
      @for (tag of event.tags; track tag.id) {
      <span class="tag">{{ tag.name }}</span>
      }
    </div>
    }
    <div class="event-buttons">
      @if (!event.isJoined) {
      <button (click)="join(event)">Join</button>
      } @else {
      <button (click)="leave(event)">Leave</button>
      }
    </div>
  </div>
  }
</div>
@if (!events || events.length === 0) {
<div class="no-events">No events match the selected tags.</div>
} }
